@use 'variables' as *;
@use 'mixin' as *;

//ローディング

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $accent-orange;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: $deco;
  font-weight: $bold;
  letter-spacing: 1.8px;

}

#loading p {
  color: #393939;
}

#who {
  opacity: 0;
}

#main-content {
  overflow-x: hidden;
}

.fv {
  &__inner {
    width: 100vw;

  }

  &__top {
    position: relative;
    height: 100vh;
    background-color: $primary-gray;

    .top-contents {
      width: 300px;
      position: absolute;
      top: calc(25% + 58px);
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }

    .top-name {
      font-family: $main-title;
      font-size: 36px;
      font-weight: $medium;
      letter-spacing: 3.6px;
      color: $base-white;
      margin-bottom: 9px;
    }

    .top-title {
      font-family: $main-title;
      font-size: 48px;
      font-weight: $bold;
      letter-spacing: 4.8px;
      color: $base-white;
      margin-bottom: 15px;
    }

    .top-rect {
      display: inline-block;
      width: 50px;
      height: 10px;
      background-color: $base-white;
    }

    .top-subtitle {
      font-family: $deco;
      font-size: 72px;
      rotate: -9deg;
      color: $accent-orange;
      opacity: 0;
      transform: translateX(-30px);
      transition: opacity 0.4s ease, transform 0.4s ease;
    }

    .top-subtitle.show {
      opacity: 0.7;
      transform: translateX(0);
    }
  }

  &__toc {
    display: none;
  }
}


.about {
  margin-bottom: 48px;

  &__hero {
    width: 100vw;
    margin-bottom: 48px;
  }


  &__title-box {
    background-color: $secondry-brown;
    width: 100vw;
    height: 171px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    .about__title-box .box-inner {
      margin: 0 auto;
    }
  }

  &__title {
    @include main-title;
    letter-spacing: 4px;
    color: $base-white;
  }

  &__sub-title {
    font-family: $text-ja;
    font-size: 20px;
    font-weight: $light;
    letter-spacing: 3px;
    color: $base-white;
  }

  &__stripe-rect {
    display: block;
    width: 100%;
    height: 70px;
    background-image: url("../img/stripe.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__orange-rect {
    display: block;
    width: 100%;
    height: 70px;
    background-color: $accent-orange;
  }

  &__img {
    display: block;
    margin: 0 auto 48px;
    width: 270px;
    height: 270px;
    border: 3px solid $base-gray;
    padding: 45px;

    img {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;

    .contents-title {
      margin-bottom: 16px;
    }
  }

  &__profile {
    margin-bottom: 48px;

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }


    &__item {
      display: flex;

      dt {
        @include sub-text;
        min-width: 80px;
      }

      dd {
        font-family: $text-ja;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        position: relative;
        padding-left: 28px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          transform: translateY(-50%);
          top: 50%;
          width: 0;
          height: 0;
          border-top: 4.5px solid transparent;
          border-bottom: 4.5px solid transparent;
          border-left: 7px solid $primary-gray;
        }

      }
    }
  }

  &__career {

    &__item {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $base-gray;
      padding-bottom: 14px;
      margin-bottom: 14px;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      dt {
        @include sub-text;
        margin-bottom: 4px;
      }

      .position {
        font-family: $text-ja;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 1px;
        line-height: 1.8;
      }

      .desc {
        @include text;
      }
    }
  }
}


// skillページ
.skills {
  margin-bottom: 48px;

  &__desc {
    margin-bottom: 48px;
    border-bottom: 1px solid $base-gray;
    padding-bottom: 56px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 48px;
  }

  &__text {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    p {
      @include text;
      line-height: 2.0;
    }

    span {
      font-weight: $bold;
      border-bottom: 2px dotted $accent-orange;
    }
  }

  &__icon {
    width: 100%;
    display: flex;
    gap: 24px;
    justify-content: center;

    img {
      width: 21%;
    }
  }

  &__skill {
    display: flex;
    gap: 64px;
    overflow: hidden;

    &__head {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32px;

      .slider-btn {
        &.section-prev {
          right: 0;
          left: auto;
        }
      }
    }
  }

  &__design {
    flex: 0 0 100%;
    margin: 0 auto;
    padding-right: 8px;
  }

  &__coding {
    flex: 0 0 100%;
    margin: 0 auto;
  }

  &__list {
    li {
      margin-bottom: 24px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__level {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .label {
      max-height: 32px;
      display: flex;
      align-items: center;
      border-left: 16px solid $accent-orange;
      padding: 1px 0 1px 8px;
      margin-right: 16px;

      h4 {
        @include inter;
        min-width: 0;
        word-wrap: break-word;
        overflow-wrap: break-word;
        // white-space: normal;折り返しを許可。日本語はこれだけでも〇
      }
    }

    .level {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      gap: 18px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 1px;
        background: $primary-gray;
        z-index: 0;
      }

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $base-gray;
        position: relative;
        z-index: 1;
      }

      .dot.active {
        background: $primary-gray;
      }
    }
  }

  &__contents {
    @include text;
  }

  .decoration {
    display: none;
  }
}

//worksページ
.works {
  margin-bottom: 48px;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;

    .title {
      margin-bottom: 16px;
    }

    .annotation {
      font-family: $text-ja;
      font-size: 12px;
      font-weight: $regular;
      letter-spacing: 0.7px;
      color: $primary-gray;
      opacity: 0.7;
      border-top: 1px solid rgba(57, 57, 57, 0.7);
      border-bottom: 1px solid rgba(57, 57, 57, 0.7);
      padding: 4px 0;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 8px;
    margin-bottom: 10px;

    .works-num {
      font-family: $sub-title;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1.4px;
      width: 42px;
      height: 42px;
      background-color: $secondry-brown;
      color: $base-white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .works-titleframe {
      width: calc(100% - 42px);
    }

    .category {
      font-family: $text-ja;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.8px;

    }

    .work-title {
      font-family: $text-ja;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 1.7;
    }
  }

  &__items {
    &:last-child {
      .works__single {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.square {
      .works-thumb {
        width: 250px;
        margin: 0 auto 4px;

      }
    }
  }

  &__single {
    margin-bottom: 44px;

    .works-thumb {
      width: 100%;
      height: auto;
      border: 1px solid $primary-gray;
      padding: 5px;
      margin-bottom: 4px;
    }

    .works-type {
      font-family: $text-en;
      font-size: 14px;
      font-weight: $bold;
      letter-spacing: 1.1px;
    }
  }


}

//hobbyページ
.hobby {
  margin-bottom: 48px;

  &__title {
    margin-bottom: 48px;
  }

  &__items-wrapper {
    display: flex;
    align-items: baseline;
    width: 100%;
    gap: 80px;
    transition: transform 1s ease;
    overflow: hidden;
  }

  &__item {
    flex: 0 0 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__head {
    width: 100%;
    position: relative;
    text-align: center;
    margin-bottom: 32px;

    .contents-title {
      display: inline-block;
      margin: 0;
      font-size: 20px;
      padding: 5px 10px;
    }
  }

  &__gallery {
    display: grid;
    gap: 10px;
    margin-bottom: 32px;
  }

  &__col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  &__text {
    position: relative;
    padding-top: 37px;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1px;
      height: 21px;
      background-color: $primary-gray;
    }

    .title {
      font-family: $sub-title;
      font-weight: $bold;
      letter-spacing: 1.2px;
      text-align: center;
      font-size: 18px;
      margin-bottom: 10px;
      display: inline-block;
      border-bottom: 2px dotted #E6B285;
      padding: 1px 8px;
    }

    .text {
      @include text;
      line-height: 26px;
      text-align: left;
    }
  }

  //各カテゴリごとの画像レイアウトを個別指定
  &__item-animals {
    padding-right: 8px;

    .hobby__gallery {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item-music {
    padding: 0 4px;

    .hobby__gallery {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__item-crafted {
    padding-left: 8px;

    .hobby__gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

}

//contactページ
.contact {
  margin-bottom: 56px;

  &__title {
    margin-bottom: 40px;
  }

  &__info {
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px;
    }

    p {
      display: flex;
      font-family: $text-en;
      font-weight: $regular;
      letter-spacing: 1.6px;
      color: $primary-gray;
    }

    .ad-mark {
      display: inline-block;
      width: 14px;
      height: 20px;
      background-image: url(../img/icon_add.svg);
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 12px;
    }

    &-address {
      font-size: 16px;
      margin-bottom: 16px;
    }

    &-annotation {
      font-size: 14px;
      text-align: center;
    }

    .email {
      margin-left: 8px;
    }
  }


  &__thanks {
    width: 95%;
    height: auto;
    position: relative;
    z-index: 0;

    img {
      position: relative;
      width: 242px;
      margin: 0 auto;
      z-index: 10;
    }

    .thanks-text {
      position: absolute;
      top: 138px;
      left: 50%;
      transform: translateX(-50%);
      font-family: $deco;
      font-size: 64px;
      letter-spacing: 1.9px;
      color: $accent-orange;
      rotate: -16deg;
      z-index: 1;
      white-space: nowrap;
    }
  }
}

// PC版-レスポンシブ
@media screen and (min-width: 768px) {

  // ファーストビュー
  .fv {
    margin-bottom: 150px;

    &__inner {
      display: flex;
      height: 100vh;
    }

    &__top {
      height: 100%;
      width: 50%;

      .top-contents {
        width: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .top-name {
        font-size: 40px;
        margin-bottom: 7px;
      }

      .top-title {
        font-size: 72px;
        margin-bottom: 10px;
      }

      .top-rect {
        width: 60px;
        height: 12px;
        margin-bottom: 0;
      }

      .top-subtitle {
        font-size: 72px;
      }
    }

    &__toc {
      height: 100%;
      width: 50%;
      display: block;
      position: relative;

      .nav {
        width: 55%;
        position: static;
        transform: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 56px 0;

        li {
          :hover {
            color: $accent-orange;
            transition: all 0.2s;

            .line {
              &::before {
                background: $accent-orange;
                transition: all 0.2s;
              }
            }

          }
        }

        &__title {
          margin-bottom: 32px;

          &::after {
            top: 40%;
            rotate: -90deg;
            left: auto;
            right: 16px;
            border-left: 6.5px solid transparent;
            border-right: 6.5px solid transparent;
            border-top: 9px solid #393939;
          }
        }
      }
    }
  }

  // ABOUTページ
  .about {
    margin-bottom: 180px;

    &__inner {
      display: flex;
      flex-direction: row-reverse;
    }

    &__hero {
      width: 50%;
      position: relative;
      margin-bottom: 0;
    }

    &__stripe-rect {
      position: absolute;
      background-size: contain;
      width: 45%;
      height: auto;
      aspect-ratio: 4 / 3;
      top: 6%;
      left: 5%;
      z-index: 1;
    }

    &__title-box {
      position: absolute;
      top: 45%;
      left: 15%;
      transform: translateY(-50%);
      width: auto;
      height: auto;
      z-index: 10;

      .box-inner {
        margin: 80px 70px;
      }
    }

    &__title {
      font-size: 56px;
      margin-bottom: 8px;
    }

    &__sub-title {
      font-size: 28px;
    }

    &__orange-rect {
      position: absolute;
      right: 0;
      top: 50%;
      width: 55%;
      height: auto;
      aspect-ratio: 11 / 7;
      z-index: 1;
    }

    &__contents {
      width: 50%;
      padding-left: 7.5%;

      .contents-title {
        margin-bottom: 32px;
      }
    }

    &__img {
      width: 35%;
      height: auto;
      aspect-ratio: 1 / 1;
      padding: 6%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 0;

      img {
        margin: 0;
      }
    }


    &__profile {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-right: 10%;

      &__text-area {
        width: calc(100% - 30%);
      }

      &__list {
        margin-left: 12px;
        border-left: 1px solid $primary-gray;
        padding-left: 28px;
      }


      // width: 42%;
    }

    &__career {
      width: 100%;

      &__list {
        margin-left: 12px;
        border-left: 1px solid $primary-gray;
        padding-left: 28px;
      }

      &__item {
        flex-direction: row;
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 28px;

        dt {
          width: 150px;
        }

        dd {
          display: flex;
          flex-direction: column;
          gap: 8px;
          width: calc(100% - 150px);
        }
      }
    }
  }

  //SKILLSページ
  .skills {
    margin-bottom: 260px;

    &__inner {
      display: flex;

    }

    &__desc {
      width: 50%;
      margin-right: 10%;
      border-bottom: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }

    &__title {
      display: inline-block;
      margin-bottom: 72px;
    }

    &__text {
      margin-bottom: 96px;
      gap: 48px;

      p {
        font-size: 16px;
      }
    }

    &__icon {
      gap: 32px;
      justify-content: left;
      width: 45%;

      img {
        width: 35%;
      }
    }

    &__skill {
      display: block;
      width: 50%;
      position: relative;
      overflow: visible;

      &__head {
        margin-bottom: 32px;

        .slider-btn {
          display: none;
        }
      }
    }

    &__design {
      margin-bottom: 48px;
    }

    &__list {
      margin-left: 12px;
      border-left: 1px solid $primary-gray;
      padding-left: 28px;
    }

    .decoration {
      display: block;
      position: absolute;
      right: 0;
      bottom: -100px;
      font-family: $deco;
      color: $base-gray;
      opacity: 0.7;
      rotate: -16deg;
      font-size: 96px;
    }
  }

  //WORKSページ
  .works {
    margin-bottom: 180px;

    &__title {
      flex-direction: row;
      justify-content: left;
      margin-bottom: 100px;
      gap: 40px;

      .annotation {
        font-size: 16px;
        letter-spacing: 1px;
        padding: 6px 0;
      }
    }

    &__items-wrapper {
      margin: 0 auto;
    }

    &__items {
      display: flex;
      gap: 100px;
      margin-bottom: 64px;
      width: 100%;

      &.square {
        gap: 95px;
        width: 100%;

        .works-thumb {
          width: 290px;
          margin-left: 0;
          margin-bottom: 6px;
        }

        .works-type {
          right: 345px;
        }
      }
    }

    &__header {
      gap: initial;

      .works-titleframe {
        display: flex;
        align-items: center;
      }

      .category {
        font-size: 18px;
        white-space: nowrap;
      }

      .work-title {
        font-size: 20px;
        white-space: nowrap;
      }
    }


    &__single {
      position: relative;
      width: 50%;

      .works-thumb {
        position: relative;
        padding: 10px;
        width: 100%;
        margin-bottom: 6px;


        &::after {
          content: "";
          position: absolute;
          inset: 0;
          border: 7px solid #695C51;
          opacity: 0;
          transform: scale(1);
          transition: all 0.3s ease;
          pointer-events: none;
        }

        &:hover::after {
          opacity: 1;
        }
      }




      .works-type {
        font-size: 18px;
      }
    }
  }

  //HOBBYページ
  .hobby {
    margin-bottom: 180px;

    &__title {
      margin-bottom: 100px;
    }

    &__item {
      flex: initial;
      width: calc(100% / 3);
    }

    &__item-animals {
      padding-right: 0;
    }

    &__item-music {
      padding: 0;
    }

    &__item-crafted {
      padding-left: 0;
    }
  }

  //CONTACTページ
  .contact {
    margin-bottom: 120px;

    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__title {
      margin-bottom: 72px;
    }

    &__info {
      &-item {
        margin-bottom: 120px;
      }

      p {
        letter-spacing: 1.8px;
      }

      &-address {
        font-size: 18px;
        margin-bottom: 24px;
      }

      &-annotation {
        line-height: 22px;
      }

      .email {
        margin-left: 10px;
      }
    }

    &__thanks {
      width: auto;

      img {
        width: 386px;
      }

      .thanks-text {
        top: 228px;
        font-size: 96px;
        letter-spacing: 2.8px;
      }
    }
  }

  //フッター（TOPページ)
  .top-footer {
    position: relative;

    p {
      position: absolute;
      left: 10%;
      bottom: 198px;
      margin-bottom: 0;
    }
  }
}