
// カラー
$primary-gray: #393939;
$secondry-brown: #443325;
$accent-orange: #E6B285;
$base-gray: #D9D9D9;
$base-white: #ffffff;

// フォント
$main-title: "Cormorant Garamond", serif;
$sub-title: "Arimo", sans-serif;
$deco: "Lobster", sans-serif;
$text-en: "Inter", sans-serif;
$text-ja: "Noto Sans", sans-serif;

// フォントサイズ
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;